*{
    margin:0;
    padding:0;
}

.backg{
    position: absolute;
    width: 100%;
    height:100%;
    background:linear-gradient(315deg,rgba(98,128,243,1) 0%,rgba(111,139,244,1) 49%,rgba(119,145,245,1) 100%);
    box-shadow:0px 3px 6px rgba(196,233,252,0.3);
}

.backg .register{
    padding:20px 0;
    margin:auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 26%;
    height: 325px;
    background-color: #fff;
    border-radius: 8px;
}

.backg .register h2{
    line-height: 60px;
    color:#6280F3;
    font-size: 20px;
    text-align: center;
}

.backg .register .register-form div{
    width: 100%;
}

.backg .register .register-form div label{
    margin-right: 10px;
    display: inline-block;
    width: 30%;
    text-align: right;
}

.backg .register .register-form div input{
    padding-left: 10px;
    width: 50%;
    border:1px solid #dcdfe6;
    height: 32px;
    border-radius: 4px;
    margin:6px 0;
}

.backg .register .register-form div button{
    border: none;
    color: #fff;
    width: 80px;
    background-color:#6280F3;
    height: 36px;
    border-radius: 4px;
    margin-top:12px;
    cursor: pointer;
}

.backg .register .register-form .positionr{
    position: relative;
}

.backg .register .register-form div .login-button{
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 34px;
    background-color: #fff;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    cursor:pointer;
    margin-left: calc(30% + 110px);
    color: #606266;
}